.inputCity{
    text-align: right;
}

.mCity{
    text-align: left;
    font-size: 60px;
    padding-left: 115px;
    font-family: Roboto Mono;
    margin-bottom: 0px;
}
.date, .da{
    text-align: left;
    font-size: 20px;
    padding-left: 115px;
    font-family: Roboto Mono;
    font-weight: lighter;
    margin-top: 0px;
}
.col-auto{
    margin-top: 10px;
    margin-right: 10px;
}
.card-img-top{
    margin: 0 auto;
    display: block;

    }
    .card-group{
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        font-size: 20px;
        font-family: Roboto Mono;
    }
    .mainDegrees{
        font-family: Roboto Mono;
        text-align: right;
        font-size: 60px;
        font-weight: lighter;
    }
    .weather-app{
        border: 1px solid #CED4DA;
        margin-top: 5%;
        margin-bottom: 10%;
        background-color: white;
        opacity: 0.8;
    }
    .visually{
        font-size: 20px;
    }
    .mainWeather{
        font-size: 80px;
        text-align: justify;
        padding-left: 115px;
        margin-top: 0px;
    }
    body {
        background-size: 100% 125% ;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .form-control{
        font-family: Roboto Mono;
        color: black;

    }
    .icon{
        font-size: 80px;
        text-align: justify;
        padding-left: 115px;
        margin-top: 0px;
    }
    .footer, .Ana{
        text-align: center;
        font-family: Roboto Mono;
        font-size: 20px;
        color: whitesmoke;
    }
    .precipitation, .wind, .humidity, .typeWeather, .links, .celsius-link, .fahrenheit-link {
        text-align: right;
        font-size: 20px;
        font-weight: lighter;
        margin-right: 30px;
        color: black;
    }

    .mainDegreesMax{
    font-weight: bolder;
    }

.forecast{
    text-align: center;
}